.slider {
  display: none;

  @include mq(tablet) {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  // slider-pagination

  &__pagination {
    display: none;

    @include mq(tablet) {
      position: absolute;
      top: 50%;
      right: 39px;
      z-index: 9;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      width: 18px;

      cursor: pointer;
      transition: background-color var(--fast-anim);
    }
  }

  &__item {
    width: 8px;
    height: 2px;

    background-color: var(--color-text-light);

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &.active {
      width: 100%;
      background-color: var(--color-text-white);
    }
  }

  // slider-controls

  &__controls {
    display: none;

    @include mq(tablet) {
      position: absolute;
      bottom: 40px;
      right: 39px;

      display: flex;
    }

    &-btn {
      width: 60px;
      height: 24px;

      margin-right: 26px;
      padding: 0;

      font-family: inherit;
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;
      letter-spacing: 0.1em;

      text-align: left;

      color: rgba(157, 164, 189, 0.6);
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(157, 164, 189, 0.6);
      cursor: pointer;
      transition: color var(--animation), border-bottom var(--animation), var(--fast-anim);

      &:hover,
      &:focus,
      &:active {
        color: var(--color-text-white);
        border-bottom: 1px solid var(--color-background-main);
      }

      &--forward {
        margin-right: 0;
        text-align: right;
        color: var(--color-text-white);
        border-bottom: 1px solid var(--color-background-main);
      }
    }
  }
}

// slides

.slides {
  display: flex;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 100%;
  min-height: 580px;
  margin-right: 0px;

  box-sizing: border-box;
  background: linear-gradient(to right, rgb(255, 255, 255) 12%, rgba(25, 28, 38, 0.12));

  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;

  @include mq(tablet) {
    max-width: $tablet;
    height: 680px;
  }

  @include mq(desktop) {
    max-width: $desktop;
  }

  &__img {
    width: 100%;
  }
}

// fading-animation

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
