html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-main);
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--color-text-main);
  background-color: var(--color-background-main);
}
