.no-scroll {
  overflow: hidden;
}

.js-no-transparency {
  transition: background-color var(--slow-anim), backdrop-filter var(--slow-anim);

  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(10px);
}
