.about {
  &__container {
    display: flex;
  }

  &__list {
    display: none;

    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-right: 30px;
    }

    @include mq(desktop) {
      display: flex;
      flex-wrap: nowrap;
      margin-right: 64px;
    }
  }

  &__item {
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include mq(desktop) {
      &:first-child {
        margin-right: 30px;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &:hover .about__image,
    &:focus .about__image {
      transform: scale(1.15);
    }
  }

  &__image {
    transition: transform var(--slow-anim);

    @include mq(tablet) {
      min-width: 330px;
      height: 235px;
    }

    @include mq(desktop) {
      min-width: 270px;
      height: 445px;
    }
  }
}
