.benefits {
  &__container {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    @include mq(desktop) {
      flex-wrap: nowrap;
    }
  }

  &__group {
    margin-bottom: 44px;
  }

  // benefits-grid

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @include mq(mobile) {
      gap: 0;
    }

    @include mq(tablet) {
      max-width: 450px;
    }

    @include mq(desktop) {
      max-width: 370px;
      margin-right: 130px;
      order: -1;
    }
  }

  &__item {
    padding: 20px 32px;

    width: 193px;
    height: 133px;

    background-color: var(--color-background-second);

    @include mq(mobile) {
      &:nth-child(2n) {
        margin-left: 30px;
        margin-top: 30px;
      }
    }

    @include mq(tablet) {
      width: 210px;
    }

    @include mq(desktop) {
      width: 170px;
    }
  }

  &__amount {
    position: relative;
    margin-bottom: 6px;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;

    &--decor {
      position: absolute;
      top: 0;
      right: 0;

      font-weight: 600;
      font-size: 16px;
      line-height: 1.38;

      color: var(--color-accent);
    }
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
  }
}
