.contacts {
  width: 100%;
  height: 100%;

  background-color: var(--color-background-accent);

  background-repeat: no-repeat;
  background-size: 100% 45%, cover;
  background-position: bottom right;

  background-image: url(../images/contacts/contacts-mobile.png),
    linear-gradient(to bottom, #191c26, #191c26);
  background-image: -webkit-image-set(url(../images/contacts/contacts-mobile.webp) 1x);

  @include mq(retina) {
    background-image: url(../images/contacts/contacts-mobile@2x.png),
      linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/contacts/contacts-mobile@2x.webp) 2x);
  }

  @include mq(mobile) {
    background-size: 100% 496px, cover;
  }

  @include mq(tablet) {
    background-size: 100% 449px, cover;

    background-image: url(../images/contacts/contacts-tablet.png),
      linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/contacts/contacts-tablet.webp) 1x);

    @include mq(retina) {
      background-image: url(../images/contacts/contacts-tablet@2x.png),
        linear-gradient(to bottom, #191c26, #191c26);
      background-image: -webkit-image-set(url(../images/contacts/contacts-tablet@2x.webp) 2x);
    }
  }

  @include mq(desktop) {
    max-width: 1280px;

    background-position: bottom right;
    background-size: 625px 644px, contain;

    background-image: url(../images/contacts/contacts-desktop.png),
      linear-gradient(to bottom, #191c26, #191c26);
    background-image: -webkit-image-set(url(../images/contacts/contacts-desktop.webp) 1x);

    @include mq(retina) {
      background-image: url(../images/contacts/contacts-desktop@2x.png),
        linear-gradient(to bottom, #191c26, #191c26);
      background-image: -webkit-image-set(url(../images/contacts/contacts-desktop@2x.webp) 2x);
    }
  }

  &__container {
    @include mq(desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
}

// block-book-a-service
.contacts__form {
  text-align: center;
  margin-bottom: 84px;

  & .section-title {
    margin-bottom: 44px;
  }

  @include mq(tablet) {
    text-align: left;
    margin-bottom: 200px;
  }

  @include mq(desktop) {
    flex-basis: 50%;
    margin-bottom: 0;
  }

  & .form {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  & .form__field {
    position: relative;
    margin-bottom: 44px;
    padding-top: 20px;

    &:first-of-type {
      margin-right: 30px;
    }
  }

  & .form__input {
    padding-top: 0;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 0;

    width: 100%;
    height: 24px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: var(--color-text-white);

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    transition: border-color var(--animation);

    @include mq(mobile) {
      width: 418px;
    }

    @include mq(tablet) {
      width: 330px;
    }

    @include mq(desktop) {
      width: 270px;
    }

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      border-bottom: 1px solid var(--color-text-white);
    }

    &::placeholder {
      opacity: 0;
      transition: opacity var(--animation);
    }

    &:focus::placeholder {
      opacity: 1;
    }

    &:hover ~ .form__label,
    &:focus ~ .form__label,
    &:not(:placeholder-shown) ~ .form__label {
      color: var(--color-text-white);
      transform: translateY(0);
    }
  }

  & .form__label {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);

    transform: translateY(20px);
    transition: transform var(--slow-anim);
  }

  & .form__comment {
    position: relative;
    display: flex;

    width: 100%;
    height: 52px;
    resize: none;

    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 0;
    padding-left: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.01em;

    color: var(--color-text-white);

    outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    border-radius: 4px;

    transition: border-color var(--animation);

    @include mq(mobile) {
      width: 418px;
    }

    @include mq(tablet) {
      width: 690px;
    }

    @include mq(desktop) {
      width: 560px;
    }

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      border: none;
      border-bottom: 1px solid var(--color-text-white);
    }

    &::placeholder {
      color: rgba(157, 164, 189, 0.4);
      opacity: 0;
      transition: opacity var(--animation);
    }

    &:focus::placeholder {
      opacity: 1;
    }

    &:hover ~ .form__label,
    &:focus ~ .form__label,
    &:not(:placeholder-shown) ~ .form__label {
      color: var(--color-text-white);
      transform: translateY(0);
    }
  }
}

// block-second-part-contacts
.contacts__group {
  text-align: left;

  & .section-title {
    text-align: center;
    margin-bottom: 40px;

    @include mq(tablet) {
      text-align: left;
    }
  }

  @include mq(desktop) {
    flex-basis: 50%;
    padding-left: 100px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address {
  display: inline-block;
  margin-bottom: 44px;

  font-style: inherit;
  text-align: left;

  @include mq(tablet) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  @include mq(desktop) {
    margin-bottom: 70px;
  }

  &__item {
    font-size: 18px;
    line-height: 1.67;

    color: var(--color-text-light);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 16px;
    fill: currentColor;
  }
}

.worktime {
  display: inline-block;

  & .uppertitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--color-text-white);

    &::before {
      color: var(--color-text-light);
    }
  }

  & .subtitle {
    margin-bottom: 0;
    text-align: left;
  }
}
